env

files/motions.csv
files/answers.csv

files/answerLists/*
files/answers/*
files/answersRaw/*
files/motionLists/*
files/motions/*
files/motionsRaw/*

!files/answerLists/.gitkeep
!files/answers/.gitkeep
!files/answersRaw/.gitkeep
!files/motionLists/.gitkeep
!files/motions/.gitkeep
!files/motionsRaw/.gitkeep
